/** Bootstrap settings **/
:root {
    --arrow-bg-gradient-bottom-left: radial-gradient(circle at bottom left, #28387f, transparent 30%);
    --arrow-bg-gradient-top-right: radial-gradient(circle at top right, var(--bs-secondary), transparent 25%);

    --bs-body-color: var(--bs-black);
    --bs-body-color-rgb: var(--bs-black-rgb);
    --bs-body-bg: var(--bs-white);
    --bs-body-bg-rgb: var(--bs-white-rgb);
    --bs-border-radius: 50px;

    --bs-black: #181c27;
    --bs-black-rgb: 24, 28, 39;
    --bs-white: #fff;
    --bs-white-rgb: 100, 100, 100;
    --bs-light: #f1f4ff;
    --bs-light-rgb: 241, 244, 255;
    --bs-gray-dark: #3d414c;
    --bs-gray-dark-rgb: 61, 65, 76;
    --bs-primary: #4060ff;
    --bs-primary-rgb: 64, 96, 255;
    --bs-secondary: #FF8A78;
    --bs-secondary-rgb: 255, 138, 120;
    --bs-link-color: var(--bs-secondary);
    --bs-link-color-rgb: var(--bs-secondary-rgb);

    --bs-teal: #2abb94;
    --bs-purple: #9173C0;
    --bs-pink: #DC7B9A;
    --bs-yellow: #D9B16D;
    --bs-salmon: #FFB2A2;
    --bs-orange: #E08D48;
    --bs-magenta: #AB6397;
    --bs-blue: #432198;
    --bs-indigo: #693DD4;
}
